<!-- <form class="" action="/bookings" method="post">
  <label for="">Customer Name</label>
  <input type="text" name="booking[customer_name]" value="">

  <input type="submit" name="" value="Save">
</form> -->

<%= render "form" %>
